.createAccountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    flex-direction: column;
  }
  
  .createAccountContainer h2 {
    margin-top: 25px;
    color: #FCFCFC;
    font-size: 50px; 
  }
  .createAccountContainer p {
    margin-top: 0;
    margin-bottom: 100px;
    color: #FCFCFC;
  }
  .createAccountContainer .loginLink {
    text-decoration: underline; /* Underline the link */
    color: #FCFCFC;
  }
  .createAccountContainer .loginLink:hover {
    color: #8F69B5; 
    cursor: pointer;
  }

  .createAccountContainer label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    color: #FCFCFC; 
    text-align: left;
  }


.createAccountContainer input[type="text"],
.createAccountContainer input[type="password"],
.createAccountContainer input[type="email"] {
  width: 350px;
  height: 30px;
  padding: 10px;
  margin-bottom: 25px;
  background-color: #121212;
  border: 1px solid #FCFCFC; 
  border-radius: 4px;
  color: #FCFCFC;
}
.createAccountContainer input[type="text"]:hover,
.createAccountContainer input[type="password"]:hover,
.createAccountContainer input[type="email"]:hover {
  border-color: #8F69B5; /* Change border color on hover */
}

.createAccountContainer button {
    width: 375px;
    padding: 15px;
    background-color: #7A51A4;
    color: #FCFCFC; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 20px;
  }
  .createAccountContainer button:hover {
    background-color: #8F69B5;
    transform: scale(1.1);
  }
  .loginButton {
    margin-top: 15px; 
    margin-bottom: 40px;
  }

  /* Visability toggle */
.passwordInputWrapper {
    position: relative;
  }
  .togglePassword {
    position: absolute;
    top: 35%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
  }
  .togglePassword:hover {
    color: #8F69B5; 
  }

  .divisionLine {
    width: 30%; 
    margin-top: 10px; 
    margin-bottom: 30px; 
    border-color: #474747;
  }