body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5fd; /* Lavender */
}

header {
  background-color: #cdaee7; /* Grey */
  padding: 15px;
  text-align: left;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

button {
  background-color: #3F1263; /* Blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button.logout-btn{
  float: right;
}

button:hover {
  background-color: #986EAD; /* Darker Blue */
}

.topPage {
  margin: auto;
}


/* 
.navBar {
    background-color: grey;
    padding: 10px;
  }
  
  .navList {
    list-style-type: none; 
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navItem a {
    color: white;
    text-decoration: none;
  }
*/

.navBar {
  display: flex;
  justify-content: space-between; /* Align children horizontally with space between them */
  align-items: center; /* Center items vertically */
  padding: 0px;
}

.logoContainer {
  /* Add any additional styling for the logo container */
}

.logo {
  max-width: 35px; 
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navItem {
  margin-left: 10px; 
  display: inline-block;
}

.navButton {
  /* Add styles for the navigation buttons */
}

.search-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0px;
  margin: 50px auto 40px;
  max-width: 500px;
}
.search-container input[type="text"] {
  width: 100%; 
  padding: 8px; 
  height: 15 px; 
}
.search-container button {
  height: 100%; 
  margin-left: 8px; 
}