.header {
    background-color: #121212;
    margin-bottom: 0px;
  }
  .logo {
    width: 35px;
    height: auto; /* Maintain aspect ratio */
    margin-left: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
  }