body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5fd; /* Lavender */
}

header {
  background-color: #cdaee7; /* Grey */
  padding: 15px;
  text-align: left;
  color: #fff;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

button {
  background-color: #3F1263; /* Blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #986EAD; /* Darker Blue */
}
