@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700;800&display=swap');
.header {
  background-color: #121212;
  margin-bottom: 0px;
}
.logo {
  width: 35px;
  height: auto; /* Maintain aspect ratio */
  margin-left: 50px;
  margin-top: 7px;
  margin-bottom: 7px;
}

/* Container */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}


.card {
  background-color: #121212;
  padding: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin-top: 80px;
  margin-bottom: 130px;
}
/* Card text */
.loginContainer h2 {
  margin-top: 10px;
  color: #FCFCFC;
  font-size: 45px;
  margin-bottom: 35px;
  font-family: "Barlow Condensed", sans-serif;
}
.loginContainer p {
  margin-bottom: 25px;
  color: #FCFCFC;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}
.loginContainer .signUpLink {
  text-decoration: underline; /* Underline the link */
  color: #FCFCFC;
}
.loginContainer .signUpLink:hover {
  color: #BF5F46;
  cursor: pointer;
}


/* Input fields */
.loginContainer label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  color: #FCFCFC;
}


.loginContainer input[type="text"],
.loginContainer input[type="password"] {
  width: 250px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #121212;
  border: 1px solid #FCFCFC;
  border-radius: 4px;
  color: #FCFCFC;
}
.loginContainer input[type="text"]:hover,
.loginContainer input[type="password"]:hover {
  border-color: #BF5F46; /* Change border color on hover */
}


/* Buttons */
.loginContainer button {
  width: 275px;
  padding: 8px;
  background-color: #BF5F46;
  color: #FCFCFC;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.loginContainer button:hover {
  background-color: #CB7B67;
  transform: scale(1.1);
}
.loginButton {
  margin-top: 15px;
  margin-bottom: 40px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
}
/* Logout button */
.logout-btn {
  padding: 10px;
  background-color: #BF5F46;
  color: #FCFCFC;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #CB7B67;
  transform: scale(1.1);
}

.inputContainer {
  margin-bottom: 20px;
}

.divisionLine {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 40px;
  border-color: #474747;
}


/* Visability toggle */
.passwordInputWrapper {
  position: relative;
}
.togglePassword {
  position: absolute;
  top: 35%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}
.togglePassword:hover {
  color: #BF5F46;
}
