body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
}

.header {
    background-color: #292929;
    margin-bottom: 0px;
  }
  .logo {
    width: 35px;
    height: auto; /* Maintain aspect ratio */
    margin-left: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
  }

.logoutBtn {
    background-color: transparent;
    border: 1.5px solid whitesmoke;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    text-decoration: none; 
}
.logoutBtn:hover {
    background-color: transparent;
    border: 1px solid #7a9b7d;
    padding: 10px 20px;
    cursor: pointer;
    color: #7a9b7d;
    font-size: 15px;
}
.addSongBtn {
    background-color: transparent;
}

.song-card {
    margin-left: 20px;
    margin-right: 20px;
}

.hdr {
    text-align: center;
    padding: 40px 0 30px 0;
    background-color: #292929;

}
.hdr h1 {
    margin: 0 auto;
    color: white;
}


