/* Login.css */

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light gray */
  margin: 0;
  padding: 0;
}

/* Container */
.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* White */
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Light shadow */
}

/* Header */
.login-container h2 {
  margin-top: 0;
  color: #333333; /* Dark gray */
}

/* Input fields */
.login-container label {
  display: block;
  margin-bottom: 5px;
  color: #555555; /* Medium gray */
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #cccccc; /* Light gray border */
  border-radius: 4px;
}

/* Buttons */
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #3F1263;
  color: #ffffff; /* White */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #986EAD;
}

/* Create Account button */
.login-container p {
  margin-bottom: 10px;
}

.login-container button.create-account-btn {
  background-color: #3F1263; 
}

.login-container button.create-account-btn:hover {
  background-color: #986EAD;
}

/* Logout button */
.logout-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #3F1263; /* Red */
  color: #ffffff; /* White */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #986EAD; /* Darker red */
}
