.songs {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .songs ul li {
    list-style: none;
    padding: 1rem;
    color: #ccc;
    margin-left: -250px;
    font-size: 15px;
  }
  
  